@font-face {
    font-family: CursedTimer;
    src: url(assets/CursedTimerUlil-Aznm.ttf);
}

body {
    margin: 0;
    
    
}


.container {
    display: flex;
    justify-content: space-around;

    width: 575px;
    height: 385px;
    margin: 50px auto auto auto;
    background-color: #047857;
}


    


    


.team-title {
    margin-bottom: 21px;
    
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 40px;
    color: white;
}

.point-window {
    display: flex;
    align-self: center;
   
    width: 155px;
    height: 120px;
    background-color: #080001;
    border-radius: 5px;
    
    justify-content: center;
    align-items: center;
  
    font-family: CursedTimer;
    font-size: 90px;
    color: #F94F6D;  
}



.btn-container {
    margin-top: 26px;
    display: flex;
    width: 155px;
    justify-content: space-between;
}

.button {
    width: 45px;
    height: 45px;
    border: #9AABD8 solid 2px;
    border-radius: 5px;
    background-color: transparent; 
    font-family: CursedTimer;
    color: #9AABD8; 
}